.back-btn {
    &:hover {
        cursor: pointer;
        color: #398bdd;
      }
}

:host /deep/ h1, h2, h3, h4, h5, span, div {
    font-size: 14px !important;
}

:host /deep/ h2 {
    font-size: 20px !important;
}

:host /deep/ h3 {
    font-size: 20px !important;
}
.container{
    width: 80%;
    border: solid 1px #aaa;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 50px;
}

.dashboardHeader{
    height:40px;
    background:#f7f7f7;
    padding:0px 4px 1px 24px;
    display: flex;
    width:100%;
    box-shadow: 0px 2px 10px 0px #525252;
    ul{
      list-style: none;
      margin:0px;
      padding:0px;
      display: flex;
      li{
        margin:0px;
        padding:0px 0 0 0;
        flex: 1;        
        a{
          width:100%;
          padding:10px 20px 0px 20px !important;    
          cursor: pointer; 
        }
        a:hover{
          text-decoration: none;          
        }
      }
    }
  }
  .topLinks{
    margin-top:10px !important;
  }
  .search{
    width:300px;
    flex: 1;   
    display: flex; 
    background:#fff;
    margin-right:65px;
    input{
      width:300px;
    } 
    img{
      height:16px;
      width:16px;
      margin-top:8px;
      position: absolute;
      margin-left:278px;
    }
  }
  .profile{
    margin-left: auto;
    margin-top:5px;
    margin-right:24px;
    width:400px;
    display: flex;
  }
  
  .footer{
    position:fixed;
    bottom: 0px;
    height:30px;
    text-align: center;
    width: 100%;
    background:#ffffff;
  }