.back-btn {
    &:hover {
        cursor: pointer;
        color: #398bdd;
      }
}

:host /deep/ h1, h2, h3, h4, h5, span, div {
    font-size: 14px !important;
}

:host /deep/ h2 {
    font-size: 14px !important;
}

:host /deep/ h3 {
    font-size: 14px !important;
}